* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  max-width: 1450px !important;
  padding: 0 20px !important;
  margin: 0 auto;
  @media (min-width: 2500px) {
    max-width: 1840px !important;
  }
}
.emptylink {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
  z-index: 1;
}

.resource .selectbox .box {
  background-color: rgba(211, 215, 215, 0.3);
}

.resource .selectbox .box::after {
  content: "";
  position: absolute;
  right: 11px;
  top: 13px;
  width: 20px;
  height: 20px;
  background: url("/images/down.png");
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

.resource .selectbox.active .box::after {
  rotate: 180deg;
}

.selectbox-list {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.24);
}

.selectbox-list.open {
  height: auto;
}

.selectbox-list li.selected {
  color: #eb0000;
  background-color: #eb00004d;
}

.selectbox-list li.selected::after {
  content: "";
  position: absolute;
  top: 55%;
  right: 23px;
  width: 14px;
  height: 14px;
  transform: translateY(-40%);
  background: url("/images/check.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.insights-filter .dropdown-outer .select-wrap::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  width: 15px;
  height: 12px;
  cursor: pointer;
  background: url("/images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transform: rotate(90deg);
  transition: transform 0.3s ease-in-out;
}

.insights-filter .dropdown-outer .option-wrap {
  box-shadow: 0 4px 8px 0 rgba(0, 42, 59, 0.24);
}

#audienceList .checkbox-row {
  cursor: pointer;
  position: relative;
  width: 100%;
  display: flex;
}

#audienceList li {
  margin-bottom: 20px;
}

#audienceList label {
  font-size: 0;
}

#audienceList .checkbox-wrap {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
}

#audienceList .text-with-num {
  position: relative;
  width: calc(100% - 20px);
  padding-left: 8px;
}

#audienceList .text-with-num span {
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #002a3b;
}

.select-wrap .option-wrap.open {
  height: auto;
}
