* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  max-width: 1450px !important;
  padding: 0 20px !important;
  margin: 0 auto;
  @media (min-width: 2500px) {
    max-width: 1840px !important;
  }
}
.emptylink {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
  z-index: 1;
}

img {
  width: 100%;
  height: 100% !important;
  object-fit: cover;
}

.resource .selectbox .box {
  background-color: rgba(211, 215, 215, 0.3);
}

.resource .selectbox .box::after {
  content: "";
  position: absolute;
  right: 11px;
  top: 13px;
  width: 20px;
  height: 20px;
  background: url("/images/down.png");
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

.resource .selectbox.active .box::after {
  rotate: 180deg;
}

.selectbox-list {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.24);
}

.selectbox-list.open {
  height: auto;
}

.selectbox-list li.selected {
  color: #eb0000;
  background-color: #eb00004d;
}

.selectbox-list li.selected::after {
  content: "";
  position: absolute;
  top: 55%;
  right: 23px;
  width: 14px;
  height: 14px;
  transform: translateY(-40%);
  background: url("/images/check.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.insights-filter .dropdown-outer .select-wrap::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  width: 15px;
  height: 12px;
  cursor: pointer;
  background: url("/images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transform: rotate(90deg);
  transition: all 0.3s ease-in-out;
}

.insights-filter .dropdown-outer .select-wrap.active::after {
  background: url("/images/up.svg");
  transform: rotate(0);
  top: 6px;
}

.insights-filter .dropdown-outer .option-wrap {
  box-shadow: 0 4px 8px 0 rgba(0, 42, 59, 0.24);
}

.insights-filter .col-three img {
  transition: all 0.3s ease-in-out;
}

.insights-filter .col-three:hover img {
  transform: scale(1.1);
}

.option-wrap .checkbox-row {
  cursor: pointer;
  position: relative;
  width: 100%;
  display: flex;
}

.option-wrap li {
  margin-bottom: 20px;
}

.option-wrap label {
  font-size: 0;
}

.option-wrap .checkbox-wrap {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.option-wrap .text-with-num {
  position: relative;
  width: calc(100% - 20px);
  padding-left: 8px;
}

.option-wrap .text-with-num span {
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #002a3b;
}

.select-wrap .option-wrap.open {
  height: auto;
}

.select-wrap > span:first-of-type {
  transition: all 0.3s ease-in-out;
}

.select-wrap.active > span:first-of-type {
  color: #f26027;
}

.select-wrap .checkbox-wrap input {
  display: none;
}

.select-wrap .checkbox-wrap label {
  display: inline-block;
  cursor: pointer;
  font-size: 0;
  vertical-align: top;
  position: relative;
  z-index: 5;
}

.select-wrap .checkbox-wrap label::after {
  content: "";
  position: relative;
  appearance: none;
  background-color: transparent;
  border: 2px solid #98a4af;
  box-shadow: none;
  height: 16px;
  width: 16px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 2px;
  top: 6px;
  transition: all 0.3s ease-in-out;
}

.date::before {
  content: "|";
  position: absolute;
  font-size: 16px;
  color: #009dd1;
  right: -13px;
  top: -3px;
}

.link-arrow::after {
  content: "";
  position: absolute;
  bottom: 4px;
  right: -17px;
  height: 16px;
  width: 16px;
  top: 60%;
  transform: translateY(-50%);
  background-image: url("/images/link-arrow.svg");
  transition: all 0.3s ease-in-out;
}
